@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;

}

.container {
    width: 82%;
    max-width: 1320px;
}

/* header section styles */

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.banner .banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
    width: 632px;
}

.banner .banner-text h3 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

.banner .banner-text {
    padding: 177px 344px;
}

/* off section styles */
.off-main {
    margin: 120px auto;
}

.off-text h2 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.off-text h4 {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.off-text h3 {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.off-image {
    text-align: center;
}

/* welcome section styles */
.welcome-main {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 120px auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.welcome-text {
    margin: 0 126px;
}

.welcome-text h2 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 545px;
    margin-bottom: 24px;
}

.welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 48px;
}

.welcome-text button {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #070211;
    border: none;
    margin-left: 50px;
}

.welcome-text button:hover {
    background-color: aliceblue;
    color: #070211;
}

.welcome-image {
    margin: 75px;
}

/* date section styles */
.date {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto;
    text-align: center;
    padding: 100px 0;

}

.date p {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 48px;
}

.important {
    color: #F00;
}

.date button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

.date button:hover {
    background-color: #FFF;
    color: #F00;
    border: 1px solid #F00;
}

/* best offer section styles */
.best-offer-main {
    display: flex;
    justify-content: space-around;
    margin: 120px auto;
    align-items: center;
}

.best-offer-text {
    margin-right: 70px;
}

.best-offer-text h4 {
    color: #F00;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.best-offer-text h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.best-offer-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.best-offer-text {
    text-align: left;
}

.best-offer-text-1 h2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-top: 24px;

}

.best-offer-text-1 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    /* 160% */
}

.best-offer-image {
    border-radius: 364.844px;
    background: url('../resources/Ellipse 1.png'), lightgray;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    width: 460px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 118px;
}

/* holiday section styles */
.holiday-main {
    margin: 120px auto;
}

.holiday-text {
    text-align: center;
}

.holiday-text h4 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday-text h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

.holiday-image {
    display: flex;
    background-image: url('../resources/Rectangle 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 65px;
}

.img-2 {
    background: url('../resources/Rectangle 1.png');
    background-repeat: no-repeat;
    background-position: 100px 0px;
    border-radius: 16px 16px 0px 0px;
    width: 430px;
    height: 433px;
}

.img-2 img {
    width: 60%;

}

/* portfolio section styles */
.portfolio-main {
    margin: 120px auto;
}

.portfolio-text h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.portfolio-text h3 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;

}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 48px;
}

.portfolio-img-1 {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
    align-items: end;
}

.portfolio-img-2 {
    display: flex;
    gap: 25px;
    align-items: end;
}